/*-------------------------------MEDIA-QUERIES------------------------------------*/

@media only screen and (max-width: 599px) {
  .headerHome {
    height: 9rem;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    padding: 1% 6% 0 3%;
  }

  .logoCompanyHeader {
    width: 19rem;
    height: 4rem;
  }

  /*-------------------ButtonNav-------------------*/

  .buttonLoginNav,
  .buttonCitiesNav,
  .buttonHomeNav {
    cursor: pointer;
    padding: 0 1% 0 1%;
    display: flex;
    font-size: 2.5rem;
    width: 3.3em;
    height: 1.3em;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
    border: solid 0.06em #0d0d0d7e;
    border-radius: 0.8rem;
    background: var(--prima, #4f46e5);
  }

  .textButtonLogin,
  .textButtonCities,
  .textButtonHome {
    color: #fff;
    font-size: 0.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }

  /*-------------------HOME-------------------*/

  .contentHome {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    width: 100%;
    padding: 5% 2% 10% 2%;
  }

  .textAndButtonHome {
    background-color: #d8bdff28;
    height: 140vh;
    width: 41vw;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2.1% 1% 2% 1.8%;
  }

  .tittleArticleHome {
    font-size: 1.2rem;
  }

  .pHome {
    font-size: 0.7rem;
  }

  .buttonViewMoreHome {
    height: 3rem;
    width: 13rem;
    gap: 1rem;
    color: #fff;
    font-size: 1.5rem;
  }

  /*-------------------CAROUSEL-------------------*/

  .carouselHomeContent {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6% 0 1% 0;
    margin-bottom: 3rem;
    gap: 1.5rem;
    width: 75vw;
    height: 114vh;
  }

  .carouselCard {
    height: 9.2rem;
    width: 12rem;
    padding: 2% 2% 2% 4%;
  }

  .carouselPhoto {
    width: 10rem;
    height: 6rem;
  }

  .carouselCardCityTittle {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  .groupArrowsCarousel {
    flex-direction: row;
    height: 4rem;
    width: 30rem;
    gap: 14rem;
    justify-content: center;
    padding: 0 0 4% 0;
  }

  /*-------------------FOOTER-------------------*/

  footer {
    width: 100%;
  }

  .myFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: spa;
    background-color: #0d0d0d;
    width: 100%;
    border: solid #0d0d0d;
  }

  .logoCompany {
    width: 17rem;
  }

  .groupLink1,
  .groupLink2,
  .groupLink3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .groupLink1:hover,
  .groupLink2:hover,
  .groupLink3:hover {
    cursor: pointer;
  }

  hr {
    padding: 0 1px 0;
    width: 100%;
  }

  .socialNetworks {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    height: 22vh;
  }

  .pFooter {
    color: white;
    font-family: "Segoe UI";
    font-size: 0.7rem;
    font-weight: bolder;
  }

  .iconFooter {
    border: solid white 0.14rem;
    border-radius: 70%;
    background-color: #fff;
    color: white;
    width: 2.6rem;
  }

  .copyrightFooter {
    padding: 0 1% 0.5% 0;
    font-size: 0.7rem;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
  /*-------------------HEADER-------------------*/

  .headerHome {
    height: 9rem;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    padding: 1% 6% 0 3%;
  }

  .logoCompanyHeader {
    width: 19rem;
    height: 4rem;
  }

  /*-------------------ButtonNav-------------------*/

  .buttonLoginNav,
  .buttonCitiesNav,
  .buttonHomeNav {
    cursor: pointer;
    padding: 0 1% 0 1%;
    display: flex;
    font-size: 2.5rem;
    width: 3.3em;
    height: 1.3em;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
    border: solid 0.06em #0d0d0d7e;
    border-radius: 0.8rem;
    background: var(--prima, #4f46e5);
  }

  .textButtonLogin,
  .textButtonCities,
  .textButtonHome {
    color: #fff;
    font-size: 0.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }

  /*-------------------HOME-------------------*/

  .contentHome {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    width: 100%;
    padding: 5% 2% 10% 2%;
  }

  .textAndButtonHome {
    background-color: #d8bdff28;
    height: 140vh;
    width: 41vw;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2.1% 1% 2% 1.8%;
  }

  .tittleArticleHome {
    font-size: 1.2rem;
  }

  .pHome {
    font-size: 0.7rem;
  }

  .buttonViewMoreHome {
    height: 3rem;
    width: 13rem;
    gap: 1rem;
    color: #fff;
    font-size: 1.5rem;
  }

  /*-------------------CAROUSEL-------------------*/

  .carouselHomeContent {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6% 0 1% 0;
    margin-bottom: 3rem;
    gap: 1.5rem;
    width: 75vw;
    height: 114vh;
  }

  .carouselCard {
    height: 9.2rem;
    width: 12rem;
    padding: 2% 2% 2% 4%;
  }

  .carouselPhoto {
    width: 10rem;
    height: 6rem;
  }

  .carouselCardCityTittle {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  .groupArrowsCarousel {
    flex-direction: row;
    height: 4rem;
    width: 30rem;
    gap: 14rem;
    justify-content: center;
    padding: 0 0 4% 0;
  }

  /*-------------------FOOTER-------------------*/

  footer {
    width: 100%;
  }

  .myFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: spa;
    background-color: #0d0d0d;
    width: 100%;
    border: solid #0d0d0d;
  }

  .logoCompany {
    width: 17rem;
  }

  .groupLink1,
  .groupLink2,
  .groupLink3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .groupLink1:hover,
  .groupLink2:hover,
  .groupLink3:hover {
    cursor: pointer;
  }

  hr {
    padding: 0 1px 0;
    width: 100%;
  }

  .socialNetworks {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    height: 22vh;
  }

  .pFooter {
    color: white;
    font-family: "Segoe UI";
    font-size: 0.7rem;
    font-weight: bolder;
  }

  .iconFooter {
    border: solid white 0.14rem;
    border-radius: 70%;
    background-color: #fff;
    color: white;
    width: 2.6rem;
  }

  .copyrightFooter {
    padding: 0 1% 0.5% 0;
    font-size: 0.7rem;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  /*-------------------HEADER-------------------*/

  .headerHome {
    height: 9rem;
    width: 100%;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    padding: 1% 6% 1% 6%;
  }

  .logoCompanyHeader {
    width: 19rem;
    height: 4rem;
  }

  /*-------------------HOME-------------------*/

  .contentHome {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    width: 100%;
    padding: 5% 3% 10% 3%;
  }

  .textAndButtonHome {
    background-color: #d8bdff28;
    height: 140vh;
    width: 41vw;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2.1% 1% 2% 1.8%;
  }

  .tittleArticleHome {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .pHome {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .buttonViewMoreHome {
    height: 3rem;
    width: 13rem;
    gap: 1rem;
    color: #fff;
    font-size: 1.5rem;
  }

  /*-------------------CAROUSEL-------------------*/

  .carouselHomeContent {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6% 0 1% 0;
    margin-bottom: 3rem;
    gap: 2rem;
    width: 70vw;
    height: 140vh;
  }

  .carouselCard {
    height: 11.2rem;
    width: 14rem;
    padding: 2% 2% 0 4%;
  }

  .carouselPhoto {
    width: 12rem;
    height: 8rem;
  }

  .carouselCardCityTittle {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  .groupArrowsCarousel {
    flex-direction: row;
    height: 4rem;
    width: 40rem;
    gap: 20rem;
    justify-content: center;
    padding: 0 0 10% 0;
  }

  /*-------------------FOOTER-------------------*/

  footer {
    width: 100%;
  }

  .myFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: spa;
    background-color: #0d0d0d;
    width: 100%;
    border: solid #0d0d0d;
  }

  .logoCompany {
    width: 19rem;
  }

  .groupLink1,
  .groupLink2,
  .groupLink3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .groupLink1:hover,
  .groupLink2:hover,
  .groupLink3:hover {
    cursor: pointer;
  }

  hr {
    padding: 0 1px 0;
    width: 100%;
  }

  .socialNetworks {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    height: 22vh;
  }

  .pFooter {
    color: white;
    font-family: "Segoe UI";
    font-size: 0.7rem;
    font-weight: bolder;
  }

  .iconFooter {
    border: solid white 0.14rem;
    border-radius: 70%;
    background-color: #fff;
    color: white;
    width: 2.6rem;
  }

  .copyrightFooter {
    padding: 0 1% 0.5% 0;
    font-size: 1rem;
    margin-left: 3rem;
  }
}
