#root {
  display: flex;
  width: 1728px;
  padding: 32px 218px 399px 219px;
  flex-direction: column;
  align-items: flex-start;
  gap: 318px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerHome {
  display: flex;
  width: 1291px;
  justify-content: space-between;
  align-items: center;
}

.h3Header {
  color: var(--black, #1c1c1c);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.anchorNav {
  color: var(--black, #1c1c1c);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.buttonLogin {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--prima, #4f46e5);
}

.iconLoginNav {
  color: #ffffff;
  width: 21px;
  height: 20px;
}

.textButtonLogin {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.contentHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAndButtonHome {
  display: flex;
  width: 742px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.tittleArticleHome {
  color: var(--black, #1c1c1c);
  font-family: Segoe UI;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paragraphHome {
  color: var(--grey-p, rgba(28, 28, 28, 0.6));
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttonHome {
  border-radius: 8px;
  background: var(--prima, #4f46e5);
  display: flex;
  width: 346px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mountainImg {
  color: lightgray;
  width: 308px;
  height: 200px;
}

