#root {
  display: flex;
  width: 1728px;
  padding: 32px 218px 399px 219px;
  flex-direction: column;
  align-items: flex-start;
  gap: 250px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerHome {
  display: flex;
  width: 1500px;
  justify-content: space-around;
  gap: 29rem;
  align-items: center;
}

.h3Header {
  color: var(--black, #1c1c1c);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.anchorNav {
  color: var(--black, #1c1c1c);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.buttonLogin {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--prima, #4f46e5);
}

.iconLoginNav {
  color: #ffffff;
  width: 21px;
  height: 20px;
}

.textButtonLogin {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.contentHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAndButtonHome {
  display: flex;
  width: 742px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.tittleArticleHome {
  color: var(--black, #1c1c1c);
  font-family: Segoe UI;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paragraphHome {
  color: var(--grey-p, rgba(28, 28, 28, 0.6));
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttonHome {
  border-radius: 8px;
  background: var(--prima, #4f46e5);
  display: flex;
  width: 346px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/*-------------------CAROUSEL-------------------*/

.carouselHome {
  /* border: solid 2px; */
  background-color: rgba(211, 211, 211, 0.315);
  border-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 1.8rem;
  gap: 3.5rem;
  width: 900px;
  height: 950px;
}

.carouselCard {
  border: #1c1c1c solid 0.167rem;
  border-radius: 1rem;
  text-align: center;
  height: 350px;
}

.carouselPhoto {
  border-bottom: #1c1c1c solid 0.2rem;;
  border-radius: 0.67rem 0.67rem 0 0;
  width: 24rem;
  height: 18rem;
}

.carouselCardCity {
  color: #4f46e5;
  font-family: "Segoe UI";
  font-size: 1.9rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

.arrowsCarousel {
  height: 5rem;
}

.carouselArrows {
  display: flex;
  gap: 43rem;
}

